.intro_container {
  display: flex;
  flex-direction: column;
  .intro_container_hi {
    font-size: 2vw;
    font-weight: bold;
    color: #116aad;
  }
  .intro_container_name {
    font-size: 3vw;
    font-weight: 900;
    color: #66fcf1;
  }

  .intro_container_designation {
    font-size: 3vw;
    font-weight: bolder;
    color: #45a29e;
  }

  .intro_container_details {
    width: 60%;
    color: #65c6c7;
  }

  .hire_me_button_wrapper {
    padding: 1rem 0rem;
    .button {
      position: relative;
      background-color: #116aad;
      border: none;
      font-size: 28px;
      color: #FFFFFF;
      padding: 20px;
      width: 200px;
      text-align: center;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
      border-radius: 0.5rem;
    }
    
    .button:after {
      content: "";
      background: #66fcf1;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px!important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }
    
    .button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 720px) {
  .intro_container {
    display: flex;
    flex-direction: column;
    .intro_container_hi {
      font-size: 3vw;
      font-weight: bold;
      color: #116aad;
      margin-bottom: 1rem;
      font-size: clamp(20px, 4vw, 40px);
    }
    .intro_container_name {
      font-size: 3vw;
      font-weight: 900;
      color: #66fcf1;
      font-size: clamp(20px, 4vw, 40px);
      text-transform: capitalize;
    }

    .intro_container_designation {
      font-size: 5vw;
      font-weight: bold;
    }

    .intro_container_details {
      min-width: 100%;
    }
  }
}
