.page_container {
  margin: 0;
  padding: 0;
  // background: #222;
  background: #0b0c10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #66fcf1;

  .page_header_container {
    margin: 0;
    padding: 0;
  }

  .page_body_container {
    width: 65%;
    margin-top: 6vh;
    align-self: center;
  }
}

@media screen and (min-width: 280px) and (max-width: 720px) {
  .page_body_container {
    margin-top: 6vh;
    min-width: 85%;
    align-self: center;
  }
}
